// If we need to override any bootstrap styles, we can do that here.

label {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

/* Use oversized checkboxes and radio buttons */
input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}

/*
input[type=checkbox]:focus {
  outline: none;
}
*/

input[type=radio] {
  width: 1rem;
  height: 1rem;
}

/*
input[type=radio]:focus {
  outline:none;
}
*/

.btn-wide {
  padding-left: 2rem;
  padding-right: 2rem;
}
