// If we need to override any bootstrap styles, we can do that here.

// .btn-secondary {
//   background-color: $color-dark;
//   color: #fff;
// }

.alert-info {
  background-color: #dff9dd;
  font-style: italic;
  color: #333;
}

.alert-warning {
    background-color: #ffd2bb;
    font-style: italic;
    color: #333;
}