<foi-base
  [showInfo]="false"
  [continueDisabled]="!foiForm.valid"
  (continue)="doContinue()"
  (goBack)="doGoBack()"
>
  <div class="foi-content">
    <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">

      <h2>You’re requesting records about a child. What is the child’s full legal name?</h2>
      <div class="form-group row">
        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="First name is longer than the maximum {requiredLength} characters."
            required="First name is a required field."
          >
            <label>First name:</label>
            <input formControlName="firstName" />
          </app-foi-valid>
        </div>
        
        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Middle name is longer than the maximum {requiredLength} characters."
          >
            <label>Middle name:</label>
            <input formControlName="middleName" />
          </app-foi-valid>
        </div>

        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Last name is longer than the maximum {requiredLength} characters."
            required="Last name is a required field."
          >
            <label>Last name:</label>
            <input formControlName="lastName" />
          </app-foi-valid>
        </div>

        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="'Also known as' is longer than the maximum {requiredLength} characters."
          >
            <label>Also known as:</label>
            <input formControlName="alsoKnownAs" />
          </app-foi-valid>
        </div>

        <div class="col-lg-6">
            <app-foi-valid
              [form]="foiForm"
            >
              <label>What is the child’s date of birth?</label>
              <input type="date" formControlName="dateOfBirth" />
            </app-foi-valid>
          </div>

          <div class="col-lg-6">
                <label>Attach copy of proof of guardianship:</label>
                <input class="form-control" type="file"  (change)="changeImageListener($event)"/>
            </div>
      
      </div>
    </form>
  </div>

  <div class="sidebar">
    <!-- Hidden -->
  </div>
</foi-base>
