<foi-base
  (continue)="doContinue()"
  (goBack)="doGoBack()"
  [continueText]="'Submit'"
>
  <div class="foi-content">
    <h1>Review and submit!</h1>
    <pre
      >{{ thisRequest }}
      </pre
    >

    <p *ngIf="submitDone">
      <strong
        >Your request has been submitted to the central intake team for
        processing.</strong
      >
    </p>
  </div>

  <div class="sidebar">
    <h2>More Information</h2>

    <p>
      This is a simple demo request. It validates that a request can be
      submitted, and received as an email.
    </p>
  </div>
</foi-base>
