<foi-base (continue)="doContinue()" (goBack)="doGoBack()" [showButtons]="false" [startupComponent]="true">
  <div class="sidebar">
    <h2>More information</h2>
    <h3>Learn more about:</h3>
    <ul>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations" target="_blank">
          B.C. Government’s ministries & agencies</a
        >
      </li>
      <li>
        <a
          href="https://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/open-government/open-information" target="_blank"
        >
          Open Information</a
        >
      </li>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content/data/about-data-management/databc" target="_blank"> Open Data</a>
      </li>
    </ul>
    <h3>What is a record?</h3>
    <p>
      Records are anything on which information is recorded or stored. They can be graphic, electronic or mechanical, and may include books, documents, maps, drawings, letters, vouchers, papers or other materials.
    </p>
    <h3>How are records stored?</h3>
    <p>
      B.C. Government records are typically stored and organized by subject, not by name. It’s important to provide the
      subject you're requesting records about so that we can help you find the right records.
    </p>
  </div>
  <div class="foi-content">
    <div class="landing-container">
      <div class="landing-content">
        <p class="landing-header">
          The
          <a href="http://www.bclaws.ca/EPLibraries/bclaws_new/document/ID/freeside/96165_00" target="_blank"
            >Freedom of Information and Protection of Privacy Act (FOIPPA)</a
          >
          gives you the right to access records held by the B.C. government.
        </p>
        <p>
          Anyone can request records. There are no restrictions on your age or where you live.
        </p>
        <p>
          This service can help you determine if you should request records from government, and when you’re ready, it can help you
           submit your application.
        </p>
        <div>
          <button type="button" class="btn btn-primary btn-wide" (click)="showInformationCollectPanel()">
            Start
          </button>
        </div>
      </div>
    </div>
  </div>
</foi-base>

<div *ngIf="showPanel" class="row panel-frame">
  <div class=".d-sm-none col-md-1 col-lg-2"></div>
  <div class="col-12 col-sm-12 col-md-10 col-lg-8">
    <div class="personInfoPanel ">
      <div class="personInfoContent">
        <div class="personInfoHeader">Information Collection Notice</div>
        <p>
          Personal information contained on this form is collected under the
          <a
            style="color:white; font-weight: 800; text-decoration: underline;"
            href="http://www.bclaws.ca/EPLibraries/bclaws_new/document/ID/freeside/96165_00"
            target="_blank"
            >Freedom of Information and Protection of Privacy Act</a
          >
          and will be used only for the purpose of responding to your request. If you have any questions about the
          collection, use or disclosure of this information, please call FOI Operations at 250-387-1321.
        </p>
        <p>
          You may make a request for access to records without using this form, provided you do so in writing. Including
            the relevant information requested on the form will enable us to respond to your request more quickly.
        </p>
        <div class="personInfoFooter">
          <a class="btn btn-light" href="#" (click)="hideInformationCollectPanel()">No thank you</a>

          <button id="panel-continue-btn" type="button" class="btn btn-secondary" (click)="doContinue()">
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class=".d-sm-none col-md-1 col-lg-2"></div>
</div>
