<foi-base (continue)="doContinue()" (goBack)="doGoBack()" [startupComponent]="true">
  <div class="foi-content">
    <h2>Do you need to submit a request for records?</h2>
    <p>
      Before you apply, consider the following and determine if you need to
      request records from government.
    </p>
    <p>
      <strong>
        Some records are publicly available or accessible. You may find what you
        need quicker by:
      </strong>
    </p>
    <ul>
      <li>
        Searching on
        <a href="https://gov.bc.ca" target="_blank">gov.bc.ca</a>
      </li>
      <li>
        Checking the routinely released information on
        <a
          href="https://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/open-government/open-information"
          target="_blank"
          >Open Information</a
        >
      </li>
      <li>Contacting the ministry or program directly</li>
    </ul>
    <p>
      These channels are the quickest way to get information about government
      and its programs and services.
    </p>
  </div>
  <div class="sidebar">
    <h2>More information</h2>
    <h3>Learn more about:</h3>
    <ul>
      <li>
        <a
          href="https://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations"
          target="_blank"
          >BC Government’s ministries & agencies</a
        >
      </li>
      <li>
        <a
          href="https://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/open-government/open-information"
          target="_blank"
          >Open Information</a
        >
      </li>
      <li>
        <a
          href="https://www2.gov.bc.ca/gov/content/data/open-data"
          target="_blank"
          >Data BC Catalogue</a
        >
      </li>
    </ul>
    <app-static-contact-block></app-static-contact-block>
  </div>
</foi-base>
