<foi-base [continueDisabled]="!foiForm.valid" (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <h2>Verify your identity</h2>
    <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
      <p>
          To ensure personal information is only provided to a person with the right to access it, we need to verify your identity.
      </p>
      <div class="alert alert-info" role="alert" *ngIf="isAuthenticated">
        Your first name and last name are as in BC Services Card and cannot be changed.
      </div>
      <div class="form-group row">
        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="First name is longer than the maximum {requiredLength} characters."
            required="{{isAuthenticated?'': 'First name is a required field.'}}"
          >
            <label>First name:</label>
            <input formControlName="firstName" />
          </app-foi-valid>
        </div>
        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Middle name is longer than the maximum {requiredLength} characters."
          >
            <label>Middle name:</label>
            <input formControlName="middleName" />
          </app-foi-valid>
        </div>

        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Last name is longer than the maximum {requiredLength} characters."
            required="{{isAuthenticated?'': 'Last name is a required field.'}}"
          >
            <label>Last name:</label>
            <input formControlName="lastName" />
          </app-foi-valid>
        </div>

        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="'Also known as' is longer than the maximum {requiredLength} characters."
          >
            <label>Also known as:</label>
            <input formControlName="alsoKnownAs" />
          </app-foi-valid>
        </div>

        <div class="col-lg-12" *ngIf="includeBirthDate">
          <app-foi-valid
            [form]="foiForm"
            required="Birth Date is a required field."
            noFuture="Birth Date must not be in the future."
            validDate="Birth Date must be a valid date."
            [dateTimeTrigger]="dt1"
          >
            <label>Birth Date:</label>
            <input type="text" [owlDateTime]="dt1" class="form-control" formControlName="birthDate" />
            <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
          </app-foi-valid>
        </div>

        <div class="col-lg-12">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Business/Organization name is longer than the maximum {requiredLength} characters."
          >
            <label>Business/Organization name:
              <div class="px-4 font-italic">
                <fa-icon icon="info-circle" size="1x"></fa-icon>
                <small><strong>[If you are a law firm:</strong> Please identify whether you are representing this client or representing someone else. Please also include a file # where possible.]</small>
              </div>
            </label>
            <input formControlName="businessName" />
          </app-foi-valid>

        </div>
      </div>
    </form>
    <app-alert-info *ngIf="infoBlock">
        <div [innerHTML]="infoBlock"></div>
    </app-alert-info>
  </div>

  <div class="sidebar">
    <h2>More information</h2>
    <h3>
      What will we do with this information?
    </h3>
    <p>We need your full name and your birthdate to verify your identity.</p>
    <h3>What can I request records about?</h3>
    <p>
      You can request records from government ministries or agencies using this service.
    </p>
    <p>
      You <i>cannot</i> use this service to request information about Crown corporations,
      school districts, health authorities, police, public colleges, and universities,
      as these institutions all have their own Freedom of Information (FOI) processes.
    </p>
    <p>
      If you are seeking medical records, please contact your physician.
    </p>
  </div>
</foi-base>
