<foi-base (continue)="doContinue()" (goBack)="doGoBack()" [continueText]="'Start your request'" [continueClass]="'btn-wide'" [startupComponent]="true">
  <div class="foi-content">
    <h2>Are you ready to start your request?</h2>
    <p>
      <strong>
        If the records you want aren’t publicly available, you can submit a Freedom of Information request. To help us
        get the right records to you quickly, you should:
      </strong>
    </p>
    <ul>
      <li>
        Identify the right ministry or agency to request records from
        <ul>
          <li>
            The following types of bodies have their own FOI departments and must be contacted separately
            <ul>
              <li>
                <a
                  href="https://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations/crown-corporations"
                  target="_blank"
                  >Crown corporations</a
                >,
              </li>
              <li>School districts</li>
              <li>
                <a
                  href="https://www2.gov.bc.ca/gov/content/health/about-bc-s-health-care-system/partners/health-authorities"
                  target="_blank"
                  >Health authorities</a
                >,
              </li>
              <li>Police departments (including the <a href="http://www.rcmp-grc.gc.ca/en/access-information-and-privacy"  target="_blank"
              >RCMP</a>)</li>
              <li>Public colleges and universities</li>
              <li>Municipalities</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        Ensure that you are requesting access to records and not answers to specific questions
      </li>
      <li>
        Refine your request as much as possible. Large complex requests take longer to process than small simple
        requests. Being specific will you get the right records quickly.
      </li>
    </ul>
  </div>

  <div class="sidebar">
    <h2>More information</h2>
    <h3>
      Learn more about:
    </h3>
    <ul>
        <li>
          <a
            href="https://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations"
            target="_blank"
            >B.C. Government’s ministries & agencies</a
          >
        </li>
        <li>
          <a
            href="https://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/open-government/open-information"
            target="_blank"
            >Open Information</a
          >
        </li>
        <li>
          <a
            href="https://www2.gov.bc.ca/gov/content/data/open-data"
            target="_blank"
            >Data BC Catalogue</a
          >
        </li>
      </ul>
      <h3>How long will it take to receive my records?</h3>
    <p>
      Most requests are filled within 30 business days. This time may be extended depending on the request. Large
      complex requests take longer to process than small simple requests.
    </p>
  </div>
</foi-base>
