<foi-base
  (continue)="doContinue()"
  (goBack)="doGoBack()"
  [continueText]="'Start your request'"
>
  <div class="foi-content">
    <h2>Are you ready to start your request?</h2>
    <p>
      <strong>
        If the records you want aren’t publicly available, you can submit a
        Freedom of Information request. To help us get the right records to you
        quickly, you should:
      </strong>
    </p>
    <ul>
      <li>
        Identify the right ministry or agency to request records from (You can
        request records from government ministries or agencies;
        <a
          href="https://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations/crown-corporations"
          target="_blank"
          >crown corporations</a
        >, school districts,
        <a
          href="https://www2.gov.bc.ca/gov/content/health/about-bc-s-health-care-system/partners/health-authorities"
          target="_blank"
          >health authorities</a
        >, police, public colleges, and universities all have separate Freedom
        of Information (FOI) processes.)
      </li>
      <li>
        Ensure that you are requesting access to records and not answers to
        specific questions
      </li>
      <li>
        Refine your request as much as possible. Large complex requests take
        longer to process than small simple requests. Being specific will you
        get the right records quickly.
      </li>
    </ul>
  </div>

  <div class="sidebar">
    <h2>More information</h2>
    <h3>
      Learn more about:
    </h3>
    <ul>
      <li>BC Government’s ministries & agencies</li>
      <li>Open Information</li>
      <li>Data BC Catalogue</li>
    </ul>
    <h3>How long will it take to receive my records?</h3>
    <p>
      Most requests are filled within 30 business days. This time may be
      extended depending on the request. Large complex requests take longer to
      process than small simple requests.
    </p>
  </div>
</foi-base>
