@import "../styles/variables.scss";
// Bootstrap imports
@import "~bootstrap/scss/mixins";

.title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  top: 7px;
  position: relative;
  white-space: nowrap;

  // Using breakpoint mixin.
  @include media-breakpoint-down(md){
    font-size: 25px;
  }
  @include media-breakpoint-down(sm){
    font-size: 18px;
  }
}

// Header
header {
  // Change access of brand colours
  background-color: $color-primary;
  border-bottom: 2px solid #fcba19;
  padding-top: 10px;
  padding-bottom: 20px;

  // Using breakpoint mixin.
  @include media-breakpoint-down(sm) {
    padding-top: 2px;
    padding-bottom: 8px;
  }
}

.header-logo {
  width: 165px;
  height: 45px;
  margin-right: 18px;

  // Using breakpoint mixin.
  @include media-breakpoint-down(sm){
    width: 110px;
    height: 30px;
  }

}
