<ng-container class="item-validation">
  <span #myLabel >
    <ng-content select="label"></ng-content>
  </span>
  <span #myInput>
    <ng-content select="input"></ng-content>
    <ng-content select="select"></ng-content>
    <ng-content select="textarea"></ng-content>
  </span>

  <div
    class="validation-error"
    *ngIf="isInvalid(); else: itemValidTip"
  >
    <span *ngIf="validationErrors('min')">{{ dynamicMsg('min') }}</span>
    <span *ngIf="validationErrors('max')">{{ dynamicMsg('max') }}</span>
    <span *ngIf="validationErrors('required')">{{ dynamicMsg('required') }}</span>
    <span *ngIf="validationErrors('requiredTrue')">{{ dynamicMsg('requiredTrue') }}</span>
    <span *ngIf="validationErrors('email')">{{ dynamicMsg('email') }}</span>
    <span *ngIf="validationErrors('minlength')">{{ dynamicMsg('minlength') }}</span>
    <span *ngIf="validationErrors('maxlength')">{{ dynamicMsg('maxlength') }}</span>
    <span *ngIf="validationErrors('pattern')">{{ dynamicMsg('pattern') }}</span>
    <span *ngIf="validationErrors('noFuture')">{{ dynamicMsg('noFuture') }}</span>
  </div>
  <ng-template #itemValidTip>
    <div class="validation-tip">{{ tip }}</div>
  </ng-template>
</ng-container>
