<! DOCTYPE html>
<html>
  <body>
    <form action="http://localhost:7085/api/v1/fx/submitFoiRequest" method="post" enctype="multipart/form-data">
      <div>
        <label for="fullname">Fullname</label
        ><input type="input" name="fullname" id="fullname" />
      </div>
      <div>
        <label for="ministry">Ministry</label
            ><input type="input" name="ministry" id="ministry" />
      </div>
      <div>
        <label for="fullname">File</label
            ><input type="file" name="fileToUpload" id="fileToUpload" />
      </div>
      <div>
        <input type="submit" value="Upload Image" name="submit" />
      </div>
    </form>
  </body>
</html>
