<foi-base [showButtons]="false" [showInfo]="false">
  <div class="foi-content">
    <h2>Review your request</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group" style="margin-bottom: 0;">
              <label>Name</label>
              <div>
                <div class="inline-wrap">
                  <span class="form-control review-inline">{{ foiRequest.requestData.personalInfo.firstName }}</span>
                  <div class="review-inline-label">First</div>
                </div>
                <div class="inline-wrap">
                  <span class="form-control review-inline">{{ foiRequest.requestData.personalInfo.lastName }}</span>
                  <div class="review-inline-label">Last</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Email</label>
              <span class="form-control">{{ foiRequest.requestData.contactInfoA.email }}</span>
            </div>

            <div class="form-group">
              <label>Phone Number (primary)</label>
              <span class="form-control">{{ foiRequest.requestData.contactInfoA.phonePrimary }}</span>
            </div>

            <div class="form-group">
              <label>Phone Number (secondary)</label>
              <span class="form-control">{{ foiRequest.requestData.contactInfoA.phoneSecondary }}</span>
            </div>

            <div class="form-group">
              <label>Address</label>
              <span class="form-control">{{ foiRequest.requestData.contactInfoA.address }}</span>
            </div>

            <div class="form-group">
              <label>City</label>
              <span class="form-control">{{ foiRequest.requestData.contactInfoA.city }}</span>
            </div>

            <div class="form-group">
              <label>Province</label>
              <span class="form-control">{{ foiRequest.requestData.contactInfoA.province }}</span>
            </div>

            <div class="form-group">
              <label>Postal Code</label>
              <span class="form-control">{{ foiRequest.requestData.contactInfoA.postal }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label>Ministry</label>
              <span class="form-control">{{ foiRequest.requestData.ministry.selectedMinistry.name }}</span>
            </div>

            <div class="form-group">
              <label>Your request topic</label>
              <span class="form-control">{{ foiRequest.requestData.topic }}</span>
            </div>

            <div class="form-group">
              <label>Your request description</label>
              <div class="form-control description-text">{{ foiRequest.requestData.description }}</div>
            </div>

            <div class="form-group" style="margin-bottom: 0;">
              <label>Date range</label>
              <div>
                <div class="inline-wrap">
                  <span class="form-control review-inline">{{ foiRequest.requestData.fromDate }}</span>
                  <div class="review-inline-label">From</div>
                </div>
                <div class="inline-wrap">
                  <span class="form-control review-inline">{{ foiRequest.requestData.toDate }}</span>
                  <div class="review-inline-label">To</div>
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <label>Captcha</label>
              <captcha #captchaComponent
              [apiBaseUrl]="captchaApiBaseUrl"
              [nonce]="captchaNonce"
              (onValidToken)="onValidToken($event)"
              successMessage="You can submit your request now."
            >
            </captcha>
                </div>

          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-lg-6">
        <pre>{{ foiRequestPretty }}</pre>
      </div>
    </div> -->

    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">

        <div class="buttonbar">
          <button type="button" class="btn btn-secondary" (click)="doGoBack()">
            Go back
          </button>
          <button type="button" class="btn btn-primary" (click)="doContinue()" [disabled]="!captchaComplete">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <!-- hidden -->
  </div>
</foi-base>
