.textheight {
  height: inherit;
}

.review-inline{
  display: inline-block;
  width: 50%;
}

.review-inline-label{
  display: inline-block;
  width: 50%;
  font-style: italic;
}

.inline-wrap{
  width: 100%;
}

.form-group {
  margin-bottom: 0.3rem;
}

.buttonbar {
  text-align: right;
}
