<foi-base  [showButtons]="false" [startupComponent]="true">
  <div class="foi-content">
    <h2>Your request has been submitted to the Consolidated Intake Team for processing.</h2>
    <p>
      Confirmation will be sent to the email or address you provided, as soon as possible.
      If you have any questions, please contact us by telephone at 250-387-1321. Please do not submit a duplicate request.
    </p>
    <p>
      Most requests are filled within 30 business days. We will work with you to provide you with copies of the records.
      Some information may not be disclosed in order to prevent harms, including protecting personal privacy or cabinet
      confidences.
    </p>
    <h3>Time extensions</h3>
    <ul>
      <li>
        If a request is too broad or complex in nature, a time extension may be required to process the request. If so,
        we’ll contact you to let you know.
      </li>
    </ul>
    <h3>Processing fees</h3>
    <ul>
      <li>
        If your request is large and complicated, an additional processing fee may be charged. 
        If so, we’ll contact you with an estimate and see if we can work together to clarify your request and reduce the processing time.
      </li>
    </ul>
    <h3>Change of address</h3>
    <ul>
      <li>
        Please inform us as soon as possible if your address or contact information changes so that we can get in
        contact with you.
      </li>
    </ul>

    <div class="nextlink">
      <span class="arrow">&rarr;</span
      ><a
        href="https://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/open-government/open-information/freedom-of-information"
        _target="blank"
        >Return to Freedom of information on gov.bc.ca</a
      >
    </div>
    <div class="nextlink">
      <span class="arrow">&rarr;</span><a href="/" (click)="submitAnotherRequest()">Submit a new request</a>
    </div>
  </div>

  <div class="sidebar">
    <h2>More information</h2>
    <h3>Learn more about:</h3>
    <ul>
      <li>
        <a
          href="https://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations"
          target="_blank"
          >B.C. Government’s ministries & agencies</a
        >
      </li>
      <li>
        <a
          href="https://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/open-government/open-information"
          target="_blank"
          >Open Information</a
        >
      </li>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content/data/open-data" target="_blank">Open Data</a>
      </li>
      <li>
        <a href="http://www.bclaws.ca/EPLibraries/bclaws_new/document/ID/freeside/96165_00" target="_blank">FOIPPA</a>
      </li>
    </ul>
    <app-static-contact-block></app-static-contact-block>
  </div>
</foi-base>
