<foi-base [showInfo]="false" [continueDisabled]="!foiForm.valid" (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">

      <h2>Describe the records you are looking for:</h2>
      <div class="form-group">
        <textarea class="form-control" formControlName="description" id="description" rows="6"></textarea>
      </div>
      <app-alert-info
        >Be as specific as possible. A good description of records will be brief and detailed.<br/><br/>
        <b>When possible, please include:</b> Key words, file types, file numbers, previous FOI request numbers, categories of records to exclude, and the purpose records may have been created for.<br/><br/>
        <b>When possible, please do not include:</b> Any special characters, including quotation marks or bullet points.<br/><br/>
        <b>For example: </b> Briefing notes prepared for the minister on a specific topic.<br/>
        (Asking for ‘Any and all records’ can result in a high volume of unnecessary records and may result in additional processing fees.)<br/><br/>
        <b>To see examples of other requests: </b>
        You can browse the  <a href="https://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/open-government/open-information"
          target="_blank">Open Information</a>
      </app-alert-info>

      <div class="form-group row" *ngIf="showPublicServiceEmployeeNumber">
        <label for="publicServiceEmployeeNumber" class="col-lg-5 col-form-label inline-label"
          >BC Public Service Employee Number (if known):</label
        >
        <div class="col-lg-7">
          <app-foi-valid
            [form]="foiForm"
            maxLength="BC Public Service Employee Number is longer than the maximum {requiredLength} characters."
          >
            <input id="publicServiceEmployeeNumber" formControlName="publicServiceEmployeeNumber" />
          </app-foi-valid>
        </div>
      </div>
      <div class="form-group row" *ngIf="showCorrectionalServiceNumber">
        <label for="correctionalServiceNumber" class="col-lg-5 col-form-label inline-label"
          >BC Correctional Service Number (if known):</label
        >
        <div class="col-lg-7">
          <app-foi-valid
            [form]="foiForm"
            maxLength="BC Correctional Service Number is longer than the maximum {requiredLength} characters."
          >
            <input id="correctionalServiceNumber" formControlName="correctionalServiceNumber" />
          </app-foi-valid>
        </div>
      </div>

      <h2>What time frame should we search?</h2>
      <div class="form-group row">
        <label class="col-lg-2 col-form-label inline-label" for="fromDate">From Date <span class="label-required">*</span>:</label>
        <div class="col-lg-4">
          <app-foi-valid
            [form]="foiForm"
            required="From Date is a required field."
            noFuture="From Date must not be in the future."
            validDate="From Date must be a valid date."
            [dateTimeTrigger]="dt1"
          >
            <input type="text" [owlDateTime]="dt1" formControlName="fromDate" id="fromDate" [max]="inputMaxDate()"/>
            <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
          </app-foi-valid>
        </div>
        <label class="col-lg-2 col-form-label inline-label" for="toDate">To Date <span class="label-required">*</span>:</label>
        <div class="col-lg-4">
            <app-foi-valid
            [form]="foiForm"
            required="To Date is a required field."
            noFuture="To Date must not be in the future."
            validDate="To Date must be a valid date."
            toDateValid="To Date must be greater than From Date."
            [dateTimeTrigger]="dt2"
          >
            <input type="text"  [owlDateTime]="dt2" formControlName="toDate" id="toDate" [max]="inputMaxDate()"/>
            <owl-date-time #dt2 pickerType="calendar"></owl-date-time>
          </app-foi-valid>
        </div>
      </div>
      <app-alert-info
        >Be as specific as possible. Limiting the time frame of your request will help us get the records to you faster.
      </app-alert-info>
    </form>
  </div>

  <div class="sidebar">
    <!-- hidden -->
  </div>
</foi-base>
