.inline-label {
  margin-top: 0;
}

.optiontext{
display: inline;
padding-left: 5px;
}

.optiondescription{
padding-left: 21px;
}
.optionLabel{
margin-top: 0.25rem;
}
.checkboxOpt{
width: 0.75rem;
height: 0.75rem;
}
#optionCheckbox{
margin-bottom: 0rem;
}
.option-div{
line-height: 0.75rem;
font-size: 9px;
}

.description-character-count {
  margin-top: 0.25rem;
}

.description-character-count-limit-reached {
  color: #d8292f;
  font-weight: bold;
}

.description-character-count-limit-reached strong {
  margin-left: 0.5rem;
}