<foi-base (continue)="doContinue()" (goBack)="doGoBack()" [startupComponent]="true" [showButtons]="false">

  <div class="foi-content">

    <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
      <div class="foi-content">
        <div class="landing-container">
          <div class="landing-content">
            <p class="landing-header ">
              <fa-icon class="mr-1 mt-1" size="1x" icon="id-card-alt"></fa-icon>
              Prove your identity using BC Services Card
            </p>
            <p>
              Records will be delivered electronically via email if you login with BC Services Card.
            </p><p>
              Only <a href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/types-of-cards/photo" target="_blank">cards with photo</a> are accepted.
              You must update your email address in BC Services Card for electronic delivery of records. If email address is not updated with BC Services Card, <a href="https://id.gov.bc.ca/" target="_blank">login</a> and navigate to <i>Email Preferences</i> to update your email address.
            </p><p>
              If it's your first time using your card to access any online service,
              there is a one-time security check to verify your identity.
            </p>

            <div>
              <button type="button" class="btn btn-primary btn-wide" (click)="doLogin()">
                <fa-icon class="mr-1 mt-1" size="1x" icon="sign-in-alt"></fa-icon>
                Login with BC Service Card
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="foi-content">
        <div class="landing-container">
          <div class="landing-content">
            <p class="landing-header">
              <fa-icon class="mr-1 mt-1" size="1x" icon="question-circle"></fa-icon> I don't have a BC Service Card
            </p>
            <p>
              If you prefer electronic delivery of records via email, you must login with BC Services Card.
            </p>
            <p>
              If you decide to continue without login, you will have to walk-in to help desk and verify your identity in person to collect the records.
            </p>
            <div>
              <button type="button" class="btn btn-primary btn-wide" (click)="doContinueWithoutLogin()">
                Continue without Login
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="buttonbar">
              <button type="button" class="btn btn-secondary" (click)="doGoBack()">
                Go back
              </button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="sidebar">
    <h2>More information</h2>
    <h3>
      What is BC Services Card ?
    </h3>
    <p><a href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card" target="_blank">BC Services Card</a> is government’s trusted way to access online services.</p>
    <p>
      <fa-icon class="mr-1 mt-1" size="1x" icon="external-link-alt"></fa-icon>
      <a href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/get-a-card" target="_blank">How can I get BC Services Card ? </a>
    </p>
    <p>
      <fa-icon class="mr-1 mt-1" size="1x" icon="external-link-alt"></fa-icon>
      <a href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/login-with-card" target="_blank">How to Login with BC Services Card</a>
    </p>

  </div>

</foi-base>
