<foi-base (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <h2>What topic are you requesting records about?</h2>

    <form
      *ngIf="(foiForm$ | async) as data; else loading"
      [formGroup]="foiForm"
      novalidate
      (ngSubmit)="doContinue()"
    >
      <div class="form-group">
        <label>
          <input
            type="radio"
            value="publicServiceEmployment"
            formControlName="requestTopic"
          />
          Your employment with the public service
        </label>
      </div>

      
      <div class="form-group">
          <label>
            <input
              type="radio"
              value="correctionalFacility"
              formControlName="requestTopic"
            />
            Your time spent in a correctional facility
          </label>
        </div>
  
        <div class="form-group">
        <label>
          <input
            type="radio"
            value="incomeAssistance"
            formControlName="requestTopic"
          />
          Your income assistance history
        </label>
      </div>

      <div class="form-group">
        <label>
          <input
            type="radio"
            value="childProtection"
            formControlName="requestTopic"
          />
          Child protection and youth care
        </label>
      </div>

      <div class="form-group">
        <label>
          <input type="radio" value="adoption" formControlName="requestTopic" />
          Adoption
        </label>
      </div>

      <div class="form-group">
        <label>
          <input
            type="radio"
            value="communityLiving"
            formControlName="requestTopic"
          />
          Community Living BC
        </label>
      </div>

      <div class="form-group">
        <label>
          <input
            type="radio"
            value="anotherTopic"
            formControlName="requestTopic"
          />
          Another topic (please explain)
        </label>

        TODO: Add text box here...
      </div>
    </form>
    <ng-template #loading> Loading... </ng-template>
  </div>

  <div class="sidebar">
    <h2>More Information</h2>
    <h3>
      When can you request records about another person?
    </h3>
    <p>
      To request request records about a child under 12 years old (including
      your own child) or another person, you must provide either:
    </p>
    <ul>
      <li>Proof of your authority to act on the person’s behalf</li>

      <li>
        That person’s signed and informed consent to receive their records
      </li>
    </ul>
    <h3>What is a record?</h3>
    <p>
      Records are any thing on which information is recorded or stored. They can
      be graphic, electronic, mechanical or any other means, and include books,
      documents, maps, drawings, letters, vouchers and papers.
    </p>
  </div>
</foi-base>
