<foi-base [showInfo]="false" (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <h2>What topic are you requesting records about?</h2>

    <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
      <div class="form-group" *ngFor="let topic of topics">
        <label>
          <input type="radio" [value]="topic" formControlName="requestTopic" />
          {{ topic.text }}
        </label>
      </div>
    </form>
  </div>

  <div class="sidebar">
    <!-- hidden -->
  </div>
</foi-base>
