<foi-base [showInfo]="false" (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <h2>What topic are you requesting records about?</h2>

    <form *ngIf="(foiForm$ | async) as data; else loading" [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
      <div class="form-group" *ngFor="let topic of topics">
        <label>
          <input type="radio" [value]="topic" formControlName="requestTopic" />
          {{ topic.text }}
        </label>
      </div>

      <div class="form-group">
        <label>
          <input type="radio" value="anotherTopic" formControlName="requestTopic" />
          Another topic (please explain)
        </label>

        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
          >
            <input formControlName="anotherTopicText" />
          </app-foi-valid>
        </div>
      </div>
    </form>
    <ng-template #loading> Loading... </ng-template>
  </div>

  <div class="sidebar">
    <!-- Sidebar is not displayed -->
  </div>
</foi-base>
