<foi-base [showInfo]="false" [continueDisabled]="!foiForm.valid" (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
      <h2>You’re reqesting records about a children. What is the child’s Full legal name?</h2>
      <div class="form-group row">
        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="First name is longer than the maximum {requiredLength} characters."
            required="First name is a required field."
          >
            <label>First name:</label>
            <input formControlName="firstName" />
          </app-foi-valid>
        </div>

        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Middle name is longer than the maximum {requiredLength} characters."
          >
            <label>Middle name:</label>
            <input formControlName="middleName" />
          </app-foi-valid>
        </div>

        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Last name is longer than the maximum {requiredLength} characters."
            required="Last name is a required field."
          >
            <label>Last name:</label>
            <input formControlName="lastName" />
          </app-foi-valid>
        </div>

        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="'Also known as' is longer than the maximum {requiredLength} characters."
          >
            <label>Also known as:</label>
            <input formControlName="alsoKnownAs" />
          </app-foi-valid>
        </div>

        <div class="col-lg-6">
          <app-foi-valid [form]="foiForm" noFuture="Date of Birth must not be in the future." validDate="Date of Birth must be a valid date." [dateTimeTrigger]="dt1">
            <label>What is the child’s date of birth?</label>
            <input type="text" [owlDateTime]="dt1" formControlName="dateOfBirth" />
            <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
          </app-foi-valid>
        </div>

        <div class="col-lg-6">
          <foi-fileinput
            f1
            [form]="foiForm"
            formcontrolname="proofOfGuardianship"
            required="Firstname is a required field."
            (fileSelected)="newFileSelected($event)"
          >
            <label>Attach copy of proof of guardianship:</label>
          </foi-fileinput>
        </div>
      </div>
    </form>
  </div>

  <div class="sidebar">
    <!-- Hidden -->
  </div>
</foi-base>
