<foi-base (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <h1>Who are you requesting records about?</h1>
    <form
      *ngIf="(formData$ | async) as data; else loading"
      [formGroup]="foiForm"
      novalidate
      (ngSubmit)="doContinue()"
    >

      <div class="form-group">
        <label>
          <input
            type="checkbox"
            value="yourself"
            formControlName="requestAbout"
          />
          Yourself
        </label>
      </div>

      <div class="form-group">
        <label>
          <input
            type="checkbox"
            value="childUnder12"
            formControlName="requestAbout"
          />
          A child under 12 years old
        </label>
      </div>

      <div class="form-group">
        <label>
          <input
            type="checkbox"
            value="anotherPerson"
            formControlName="requestAbout"
          />
          Another person
        </label>
      </div>

    </form>
    <ng-template #loading> Loading... </ng-template>
  </div>

  <div class="sidebar">
    <h2>More information</h2>

    <p>
      This is a simple demo request. It validates that a request can be
      submitted, and received as an email.
    </p>
  </div>
</foi-base>

