.subgroup {
    padding-left: 4%;

    .row {
        .form-check-label {
            font-size: 14px;
        }

      .form-check-inline{
        padding-right: 5px;
      }

        padding-top: 1%;
    }
}