<div class="container">
  <div class="row">
    <div class="contentside" [className]="showInfo ? 'col-md-8' : 'col-md-12'">
      <ng-content select="div.foi-content"></ng-content>
      <div *ngIf="showButtons" class="buttonbar">
        <button type="button" class="btn btn-secondary" (click)="requestGoBack()">Go back</button>
        <button type="button" class="btn btn-primary" [disabled]="continueDisabled" (click)="requestGoForward()">{{continueText}}</button>
      </div>
    </div>
    <div *ngIf="showInfo" class="col-md-4 infoside">
      <ng-content select="div.sidebar"></ng-content>
    </div>
  </div>
</div>
