<foi-base
  [continueDisabled]="!allowContinue()"
  (continue)="doContinue()"
  (goBack)="doGoBack()"
>
  <div class="foi-content">
    <app-alert-info>
     You have been successfully logged in using BC Service Card.<br>
      Please continue with filling the application.
    </app-alert-info>
    <h2>Who are you requesting records about?</h2>

    <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
      <div class="form-group">
        <label>
          <input type="checkbox" value="yourself" formControlName="yourself" />
          Yourself
        </label>
      </div>

      <div class="form-group">
        <label>
          <input type="checkbox" value="child" formControlName="child" />
          A child under 12 years old
        </label>
      </div>

      <div class="form-group">
        <label>
          <input type="checkbox" value="another" formControlName="another" />
          Another person
        </label>
      </div>
    </form>
  </div>

  <div class="sidebar">
    <h2>More information</h2>
    <h3>
      When can you request records about another person?
    </h3>
    <p>
      To request request records about a child under 12 years old (including
      your own child) or another person, you must provide either:
    </p>
    <ul>
      <li>Proof of your authority to act on the person’s behalf</li>

      <li>
        That person’s signed and informed consent to receive their records
      </li>
    </ul>
    <h3>What is a record?</h3>
    <p>
      Records are any thing on which information is recorded or stored. They can
      be graphic, electronic, mechanical or any other means, and include books,
      documents, maps, drawings, letters, vouchers and papers.
    </p>
  </div>
</foi-base>
