<foi-base (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <h2>Fees</h2>
    <ul>
      <li class="warning">A non-refundable application fee of $10 is required for all General FOI requests, <strong>for every public body selected.</strong></li>
      <li>
        <a
          href="https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/96165_07#Schedule1"
          target="_blank">
          Indigenous governing entities (IGE)
        </a> are not required to pay application fees. 
        Indigenous governing entity “means an Indigenous entity that exercises governmental functions, 
        and includes but is not limited to an Indigenous governing body as defined in the Declaration on the Rights of Indigenous Peoples Act.
      </li>
      <li>There are no means to waive an application fee.</li>
      <li>There are no fees for personal FOI requests.</li>
      <li>
        For general requests, there may be additional processing fees for large or complex requests. 
        If so, you will be contacted with an estimate of the processing fee. 
        You will have the option to pay the fee, narrow the scope of your request or request to waive the processing fee.
      </li>
    </ul>
    <h2>Tips for avoiding a processing fee</h2>
    <ul>
      <li>
        Ensure that you’re asking for specific records (like briefing notes)
      </li>
      <li>
        Refine the topic and scope of your request so that we know where to look
        for the files
      </li>
      <li>
        Research the ministries and agencies to determine which public body is
        most likely to have the records you’re looking for
      </li>
      <li>
        Ensure that you’ve checked with the Ministry and online to see what
        information is already available and public. This might help you refine
        your request further.
      </li>
    </ul>
    <app-alert-info>
      Follow these tips and information throughout this application to refine your request 
      so that any additional processing fees are kept as low as possible.
    </app-alert-info>
  </div>

  <div class="sidebar">
    <h2>More information</h2>
    <h3>
      Where do I find more information about fees?
    </h3>
    <ul>
      <li>
        <a
          href="https://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/open-government/open-information/freedom-of-information/11936"
          target="_blank"
        >Freedom of Information FAQs</a
        >
      </li>
      <li>
        <a
          href="http://www.bclaws.ca/civix/document/id/complete/statreg/96165_06#section75"
          target="_blank"
          >FOIPPA Section 75</a
        >
      </li>
    </ul>
    <h3>When are fees applicable?</h3>
    <p>
      There is an application fee for all general requests for every public body. 
      If you are requesting general information, an additional processing fee maybe charged for the following:
    </p>
    <ul>
      <li>Searching for and retrieving records beyond the first 3 hours</li>
      <li>Producing and preparing the records package</li>
      <li>Shipping the records package</li>
      <li>Providing a physical copy of the records</li>
    </ul>
  </div>
</foi-base>
