<foi-base (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <h1>Let's make a sample request!</h1>

    <form
      *ngIf="(demo1$ | async) as data; else loading"
      [formGroup]="demoForm"
      novalidate
      (ngSubmit)="doContinue()"
    >
      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input
          type="input"
          class="form-control"
          formControlName="firstname"
          id="firstname"
        />
      </div>
      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input
          type="input"
          class="form-control"
          formControlName="lastname"
          id="lastname"
        />
      </div>

      <div class="form-group">
          <label for="ministry">Ministry (Select):</label>
          <select multiple="multiple" 
          size="7"
            class="form-control"
            formControlName="ministry"
            id="ministry"
          >
          <!-- Select list borrowed from the old FOI form -->
      <option value="Advanced Education，Skills and Training">Advanced Education, Skills and Training</option>
      <option value="Agriculture">Agriculture</option>
      <option value="Attorney General">Attorney General</option>
      <option value="BC Public Service Agency">BC Public Service Agency</option>
      <option value="Children and Family Development">Children and Family Development</option>
      <option value="Citizens’ Services">Citizens’ Services</option>
      <option value="Education">Education</option>
      <option value="Energy，Mines and Petroleum Resources">Energy, Mines and Petroleum Resources</option>
      <option value="Environment and Climate Change Strategy">Environment and Climate Change Strategy</option>
      <option value="Environmental Assessment Office">Environmental Assessment Office</option>
      <option value="Finance">Finance</option>
      <option value="Forests，Lands，Natural Resource Operations and Rural Development">Forests, Lands, Natural Resource Operations and Rural Development</option>
      <option value="Government Communications and Public Engagement">Government Communications and Public Engagement</option>
      <option value="Health">Health</option>
      <option value="Indigenous Relations and Reconciliation">Indigenous Relations and Reconciliation</option>
      <option value="Jobs，Trade and Technology">Jobs, Trade and Technology</option>
      <option value="Labour">Labour</option>
      <option value="Mental Health and Addictions">Mental Health and Addictions</option>
      <option value="Municipal Affairs and Housing">Municipal Affairs and Housing</option>
      <option value="Office of the Premier">Office of the Premier</option>
      <option value="Public Safety and Solicitor General">Public Safety and Solicitor General</option>
      <option value="Social Development and Poverty Reduction">Social Development and Poverty Reduction</option>
      <option value="Tourism，Arts and Culture">Tourism, Arts and Culture</option>
      <option value="Transportation and Infrastructure">Transportation and Infrastructure</option>
    </select>
  </div>
      
      <div class="form-group">
        <label for="email">Email address:</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          id="email"
        />
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="puppies"
          />
          I like puppies.
        </label>
      </div>
    </form>
    <ng-template #loading> Loading... </ng-template>
  </div>

  <div class="sidebar">
    <h2>More Information</h2>

    <p>
      This is a simple demo request. It validates that a request can be
      submitted, and received as an email.
    </p>
  </div>
</foi-base>
