<foi-base (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <h2>What ministry or agency has the records you are looking for?</h2>

    <form
      *ngIf="(foiForm$ | async) as data; else loading"
      [formGroup]="foiForm"
      novalidate
      (ngSubmit)="doContinue()"
    >

      <div *ngIf="(ministries$ | async) as minis">
        <select>
          <option *ngFor="let m of minis" [value]="m.code">{{ m.name }}</option>
        </select>
      </div>

      <app-alert-warning>Via con dios!</app-alert-warning>
      <app-alert-info>Hola Mundo!</app-alert-info>

      
    </form>
    <ng-template #loading> Loading... </ng-template>
  </div>

  <div class="sidebar">
    <h2>More Information</h2>
    <h3>
      Learn more about:
    </h3>
  </div>
</foi-base>
