<foi-base [showInfo]="false"  [continueDisabled]="!allowContinue()" (continue)="doContinue()" (goBack)="doGoBack()">
    <div class="foi-content">
      <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
        <p>
          We may need to get in touch with you to clarify your request, discuss
          the status of your request or potential fees relating to processing your
          request.
        </p>
  
        <h2>Ways to get in touch with you</h2>
        <p>
          <i
            >* Please note that in order to follow up with you and deliver your
            records, we need at least one form of contact information.</i
          >
        </p>
  
        <div class="form-group row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12">
                <app-foi-valid
                  [form]="foiForm"
                  minLength="Phone number is shorter than the minimum {requiredLength} characters."
                  maxLength="Phone number is longer than the maximum {requiredLength} characters."
                >
                  <label>Phone number (primary):</label>
                  <input formControlName="phonePrimary" />
                </app-foi-valid>
              </div>
  
              <div class="col-lg-12">
                <app-foi-valid
                  [form]="foiForm"
                  minLength="Phone number is shorter than the minimum {requiredLength} characters."
                  maxLength="Phone number is longer than the maximum {requiredLength} characters."
                >
                  <label>Phone number (secondary):</label>
                  <input formControlName="phoneSecondary" />
                </app-foi-valid>
              </div>
  
              <div class="col-lg-12">
                <app-foi-valid
                  [form]="foiForm"
                  tip="Email address is required for electronic delivery."
                  maxLength="Email address is longer than the maximum {requiredLength} characters."
                  pattern="Email address does not appear to be valid."
                >
                  <label>Email address:</label>
                  <input formControlName="email" />
                </app-foi-valid>
              </div>
            </div>
            <!-- row -->
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12">
                <app-foi-valid
                  [form]="foiForm"
                  maxLength="Address is longer than the maximum {requiredLength} characters."
                >
                  <label>Address:</label>
                  <input formControlName="address" />
                </app-foi-valid>
              </div>
  
              <div class="col-md-6 col-sm-12">
                <app-foi-valid
                  [form]="foiForm"
                  maxLength="City is longer than the maximum {requiredLength} characters."
                >
                  <label>City:</label>
                  <input formControlName="city" />
                </app-foi-valid>
              </div>
  
              <div class="col-md-6 col-sm-12">
                <app-foi-valid
                  [form]="foiForm"
                  maxLength="Province/State is longer than the maximum {requiredLength} characters."
                >
                  <label>Province/State:</label>
                  <input formControlName="province" />
                </app-foi-valid>
              </div>
  
              <div class="col-md-6 col-sm-12">
                <app-foi-valid
                  [form]="foiForm"
                  maxLength="Country is longer than the maximum {requiredLength} characters."
                >
                  <label>Country:</label>
                  <input formControlName="country" />
                </app-foi-valid>
              </div>
  
              <div class="col-md-6 col-sm-12">
                <app-foi-valid
                  [form]="foiForm"
                  maxLength="Postal/ZIP code is longer than the maximum {requiredLength} characters."
                >
                  <label>Postal/ZIP code:</label>
                  <input formControlName="postal" />
                </app-foi-valid>
              </div>
            </div>
            <!-- row -->
          </div>
        </div>
      </form>
    </div>
  
    <div class="sidebar">
      <!-- hidden -->
    </div>
  </foi-base>
  