<foi-base
  [showInfo]="false"
  [continueDisabled]="!foiForm.valid"
  (continue)="doContinue()"
  (goBack)="doGoBack()"
>
  <div class="foi-content">
    <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
      <p>
        We may need to get in touch with you to clarify your request, discuss the status of 
        your request or arrange payment of any additional processing fees related to your request.
      </p>

      <h2>Your name</h2>
      <div class="form-group row">
        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="First name is longer than the maximum {requiredLength} characters."
            required="First name is a required field."
          >
            <label>First name:</label>
            <input formControlName="firstName" />
          </app-foi-valid>
        </div>
        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Middle name is longer than the maximum {requiredLength} characters."
          >
            <label>Middle name:</label>
            <input formControlName="middleName" />
          </app-foi-valid>
        </div>

        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Last name is longer than the maximum {requiredLength} characters."
            required="Last name is a required field."
          >
            <label>Last name:</label>
            <input formControlName="lastName" />
          </app-foi-valid>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-12">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Business/Organization name is longer than the maximum {requiredLength} characters."
          >
            <label>Business/Organization name<span class="label-required" *ngIf="businessNameRequired"> *</span>:</label>
            <input formControlName="businessName" />
          </app-foi-valid>
          <label *ngIf="generalRequest">
            <input type="checkbox" value="IGE" formControlName="IGE"/> I certify that I am a representative of, and authorized to make a request on behalf of, an Indigenous Governing Entity. An Indigenous Governing Entity is not required to pay application fees.
          </label>

          <div class="alert alert-light" role="alert">
            <fa-icon icon="info-circle"></fa-icon>
            If you are a law firm: Please identify whether you are representing this client or representing someone else. Please also include a file # where possible.
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="sidebar">
    <!-- Hidden -->
  </div>
</foi-base>
