<h3>Contact information</h3>
<p>
  Information Access Operations can answer your questions about requesting records from government.
</p>

<div><strong>Phone:</strong><div class="phone">250-387-1321</div></div>
<div><strong>Fax:</strong><div class="phone">250-387-9843</div></div>
<div><strong>Email:</strong><div class="phone"><a href="mailto:FOI.Requests@gov.bc.ca">FOI.Requests@gov.bc.ca</a></div></div>
<div><strong>Mailing Address:</strong> <br/>
  <div>PO Box 9569<br />Stn Prov Govt<br />Victoria BC V8W 9K1</div></div>
