<foi-base [showInfo]="false" (continue)="doContinue()" (goBack)="doGoBack()">

    <div class="foi-content">


        <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
            <div class="form-group">
                <label>
                    <input type="radio" value="investigationrecords" formControlName="youthincareparentselection" />
                    Child Protection Investigation Records (Family Service File) 
                </label>

            </div>
            <div class="form-group">
                <label>
                    <input type="radio" value="otherchildprotectionparent"
                        formControlName="youthincareparentselection" />
                    Other
                </label>
            </div>
        </form>
    </div>

    <div class="sidebar">
        <!-- hidden -->
    </div>


</foi-base>