<foi-base
  [continueDisabled]="!foiForm.valid"
  (continue)="doContinue()"
  (goBack)="doGoBack()"
  [startupComponent]="true"
>
  <div class="foi-content">
    <!--<h2 ng-if="authenticated">Welcome {{firstName}}, {{lastName}}</h2> -->
    <h2>What type of information are you looking for?</h2>
    <hr/>
    <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
      <div class="form-group">
        <label>
          <input type="radio" value="general" formControlName="requestType" disabled="disabled" />
          General information about government business
        </label>
        <label class="warning">
          Due to a technical issue we have temporarily disabled submitting <b>general requests</b> through the online form. Please submit your FOI request through email to <a href="mailto:FOI.Requests@gov.bc.ca">FOI.Requests@gov.bc.ca</a>. We expect that the online form will be back online by November 21st.
        </label>
      </div>
      <h2>
        or
      </h2>
      <div class="form-group">
        <label>
          <input type="radio" value="personal" formControlName="requestType" />
          Personal information about yourself, a dependant child or another
          person
        </label>
      </div>
    </form>
  </div>

  <div class="sidebar">
    <h2>More information</h2>
    <h3>What is general information?</h3>
    <p>
      General information includes records of a non-personal nature that could
      be released, in whole or in part, to anyone. For example: briefing notes
      prepared for a minister, contracts for goods or services, or agreements.
    </p>
    <h3>What is personal information?</h3>
    <p>
      Personal information means recorded information about an identifiable
      individual other than business contact information. For example: health
      care information, correctional records, or employment history.
    </p>
  </div>
</foi-base>
