<foi-base (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <h1>What type of information are you looking for?</h1>

    <form
      [formGroup]="foiForm"
      novalidate
      (ngSubmit)="doContinue()"
    >
      <div class="form-group">
        <label>
          <input type="radio" value="general" formControlName="requestType" />
          General information about government business
        </label>
      </div>
      <p>
        or
      </p>
      <div class="form-group">
        <label>
          <input type="radio" value="personal" formControlName="requestType" />
          Personal information about yourself, a dependant child or another
          person
        </label>
      </div>
    </form>
  </div>

  <div class="sidebar">
    <h2>More Information</h2>
    <p>
      This is a simple demo request. It validates that a request can be
      submitted, and received as an email.
    </p>
  </div>
</foi-base>
