<foi-base
  (continue)="doContinue()"
  (goBack)="doGoBack()">
  <div class="foi-content">
    <h2>Fees</h2>
    <p>
        
        • There is no application fee to request records
        
        • For general requests there may be a fee for large or complex requests 
        
        • If so, you will be contacted with an estimate; you will not be charged a fee without your
        consent and approval
    </p>
    <h2>Tips for avoiding fees</h2>
    <p>
        • Ensure that you’re asking for specific records (like briefing notes)
        
        • Refine the topic and scope of your request so that we know where to look for the files
        
        • Research the ministries and agencies to determine which public body is most likely to have the
        records you’re looking for
        
        •
        Ensure that you’ve checked with the Ministry and online to see what information is already
        available and public. This might help you refine your request further.
        Follow the tips and information throughout this application to refine your request so
        that your fees are kept as low as possible.
    </p>
  </div>

  <div class="sidebar">
    <h2>More Information</h2>
    <h3>
      Learn more about:
    </h3>
    <ul>
      <li>BC Government’s ministries & agencies</li>
      <li>Open Information</li>
      <li>Data BC Catalogue</li>
    </ul>
    <h3>How long will it take to receive my records?</h3>
    <p>
      Most requests are filled within 30 business days. This time may be
      extended depending on the request. Large complex requests take longer to
      process than small simple requests.
    </p>
  </div>
</foi-base>
