<foi-base
  [showInfo]="false"
  [continueDisabled]="!foiForm.valid"
  (continue)="doContinue()"
  (goBack)="doGoBack()"
>
  <div class="foi-content">
    <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
      <h1> ****    NOT USED **** </h1>
      <p>
        We may need to get in touch with you to clarify your request, discuss
        the status of your request or potential fees relating to processing your
        request.
      </p>
<!-- 
      <h2>Your name</h2>
      <div class="form-group row">
        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="First name is longer than the maximum {requiredLength} characters."
            required="First name is a required field."
          >
            <label>First name:</label>
            <input formControlName="firstName" />
          </app-foi-valid>
        </div>
        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Middle name is longer than the maximum {requiredLength} characters."
          >
            <label>Middle name:</label>
            <input formControlName="middleName" />
          </app-foi-valid>
        </div>

        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Last name is longer than the maximum {requiredLength} characters."
            required="Last name is a required field."
          >
            <label>Last name:</label>
            <input formControlName="lastName" />
          </app-foi-valid>
        </div>
        <div class="col-lg-6">
          <app-foi-valid
            [form]="foiForm"
            maxLength="Business/Organization name is longer than the maximum {requiredLength} characters."
          >
            <label>Business/Organization name:</label>
            <input formControlName="businessName" />
          </app-foi-valid>
        </div>
      </div> -->
    </form>
  </div>

  <div class="sidebar">
    <!-- Hidden -->
  </div>
</foi-base>
