<foi-base [showButtons]="false" [showInfo]="false">
  <div class="foi-content" *ngIf="paymentSuccess !== null">
    <h2>Payment</h2>
    <p *ngIf="paymentSuccess">
      We have successfully received your payment. You may proceed via the button below.
    </p>
    <p *ngIf="paymentSuccess === false">
      We had an issue while trying to complete your payment.
    </p>

    <p>Your payment info</p>
    <ul>
      <li *ngIf="transactionNumber">Transaction number: {{transactionNumber}}</li>      
      <li *ngIf="amount">Amount: ${{amount}}</li>
      <li *ngIf="paymentStatusMessage">Status: {{paymentStatusMessage}}</li>
    </ul>

    <div class="buttonbar">
      <button
        type="button"
        class="btn btn-primary"
        (click)="retry ? doRetry() : doContinue()"
        [disabled]="(!paymentSuccess && !retry)"
      >
        {{ retry ? "Retry payment" : "Continue"}}
      </button>
    </div>
      
  </div>
  
</foi-base>