@import '../styles/variables.scss';

.validation-error {
  color: map-get($theme-colors, danger);
  text-align: right;
  font-size: smaller;
}

.validation-tip {
    text-align: right;
    font-size: smaller;
  }
  