<foi-base (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <p>
      To make sure we give personal information about a child only to a person who has the right to access it, we need
      to verify your right to access the child’s records.
    </p>
    <h2>Do you have proof of guardianship of the child?</h2>
<!-- <div> -->
    <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
        <div class="form-group">
          <label>
            <input type="radio" value="true" formControlName="hasGuardianship" />
            Yes
          </label>
        </div>
        <div class="form-group">
          <label>
            <input type="radio" value="false" formControlName="hasGuardianship" />
            No
          </label>
        </div>
      </form>

<!-- </div> -->


  </div>

  <div class="sidebar">
    <h2>More information</h2>
    <h3>What is proof of guardianship?</h3>
<p>
    Proof of guardianship may include a court order, declaration form, or similar legal document. If you aren’t sure if
    you have the right documentation, visit our website to find out more.
  </p>
  <h3>Contact information</h3>
  <p>
    Information Access Operations can answer your questions about requesting
    records from government.
  </p>
  <dt>Phone:</dt>
  <dd>250-387-1321</dd>
  <dt>Fax:</dt>
  <dd>250-387-9843</dd>
  <dt>Emails:</dt>
  <dd>FOI.Requests@gov.bc.ca</dd>
  <dt>Mailing Address:</dt>
  <dd>PO Box 9569<br />Stn Prov Govt<br />Victoria BC V8W 9K1</dd>

  </div>
</foi-base>
