<foi-base [showInfo]="false" [continueDisabled]="!foiForm.valid" (continue)="doContinue()" (goBack)="doGoBack()">
  <div class="foi-content">
    <form [formGroup]="foiForm" novalidate (ngSubmit)="doContinue()">
      <h2>Adoptive parents</h2>
      <p>
        This information is optional, but it will help us to find the right records faster.
      </p>

      <div class="form-group row">
        <div class="col-lg-6">
          <h3>Adoptive Mother or Guardian</h3>
          <div class="col-xs">
            <app-foi-valid
              [form]="foiForm"
              maxLength="Adoptive Mother First name is longer than the maximum {requiredLength} characters."
            >
              <label>First name:</label>
              <input formControlName="motherFirstName" />
            </app-foi-valid>
          </div>

          <div class="col-xs">
            <app-foi-valid
              [form]="foiForm"
              maxLength="Adoptive Mother Last name is longer than the maximum {requiredLength} characters."
            >
              <label>Last name:</label>
              <input formControlName="motherLastName" />
            </app-foi-valid>
          </div>
        </div>

        <div class="col-lg-6">
          <h3>Adoptive Father or Guardian</h3>

          <div class="col-xs">
            <app-foi-valid
              [form]="foiForm"
              maxLength="Adoptive Father First name is longer than the maximum {requiredLength} characters."
            >
              <label>First name:</label>
              <input formControlName="fatherFirstName" />
            </app-foi-valid>
          </div>

          <div class="col-xs">
            <app-foi-valid
              [form]="foiForm"
              maxLength="Adoptive Father Last name is longer than the maximum {requiredLength} characters."
            >
              <label>Last name:</label>
              <input formControlName="fatherLastName" />
            </app-foi-valid>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="sidebar">
    <!-- Hidden -->
  </div>
</foi-base>
