/* You can add global styles to this file, and also import other style files */
// Declare primary font
@font-face {
  font-family: "Myriad-Pro";
  src: url("/assets/fonts/MyriadWebPro.ttf");
}

// Core variables and mixins
@import "./app/styles/variables.scss";
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

//------------------------------------------------------------------------------
// Customizing which bootstrap files get imported, copied from bootstrap.scss
// Overriding the "variables.scss" file with our custom theme
//------------------------------------------------------------------------------

// Comment out unused component styles, so they won't be bundled in final CSS.
// If they're ever used in the future we can just un-comment.

// Core variables and mixins
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/print";
//---------------------------------------------------------------------------------
// Import our Bootstrap overrides!
@import "./app/styles/overrides.scss";

html,
body {
  position: relative;
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  /* Negative indent by the footer height */
  margin: 0 auto -56px;
}
.pad {
  height: 75px;

  @media (max-width: 768px) {
    height: 100px;
  }
}

.sidebar h2 {
  font-weight: bold;
  color: $color-primary;
}

/* Apply styles to the invalid form elements! */
.form-control.ng-touched.ng-invalid {
  border: 2px solid $color-danger;
}

.label-error {
  color: $color-danger !important;
}

.label-required {
  color: $color-danger;
}
