.subgroup {
    padding-left: 4%;

    .row {
        .form-check-label {
            font-size: 14px;
        }

      .form-check-inline{
        padding-right: 5px;
      }

        padding-top: 1%;
    }
}

.form-group{

  label {
    strong{
      padding-left: 4px;
    }
  }
}

.adoption-document-list {
  margin-bottom: 0px;
}

.adopted-child-info {
  margin-bottom: 1em;
}