# *************************************
# ** FOI Request ENV variables           **
# *************************************
PORT=7085
FOI_REQUEST_UI="http://localhost:4200"
FOI_REQUEST_API="http://localhost:7085"
FOI_REQUEST_API_PORT="7085"

# Backend API
FOI_REQUEST_API_BACKEND="http://localhost:5000/api"

# If running MongoDB on localhost with with Auth 
# disabled, use the following to get the app running.
# FOI_REQUEST_DB="mongodb://localhost/foi-request-db"

# Optionally, use a database url with username and password.
# FOI_REQUEST_DB="mongodb://<username>:<password>@<db-server.com>:<port>/<database_name>"

SMTP_SERVER=""
SMTP_USERNAME=""
SMTP_PASSWORD=""
